/* css style for show of form */
.show-form-content{
	display: block;
}

/* css style for hide of form */
.hide-form{
	display: none;
}

/* css style for creation of red message when error exists */
.error{
	color: red;
}