extends layout

block users-table
  br
  br
  div
    .col-md-12
      table.table.table-bordered 
        tr
          th.active Username
          th.active Fullname
          th.active Email
          th.active Phone
          th.active Remove
        each user, index in users 
          tr
            td #{user.username}
            td #{user.fullname}
            td #{user.email}
            td #{user.phone}
            td
              a.btn.glyphicon(href="")
                span.glyphicon-circle-arrow-down
  form(id="input-form" style="display: none;")
    .col-md-12
      label.col-lg-1(style="margin:5px;") Username
      .col-lg-10
        input.form-control(type='text' style="margin:5px;")
    .col-md-12
      label.col-lg-1(style="margin:5px;") Fullname
      .col-lg-10
        input.form-control(type='text' style="margin:5px;")
    .col-md-12
      label.col-lg-1(style="margin:5px;") Email
      .col-lg-10
        input.form-control(type='text' style="margin:5px;")
    .col-md-12
      label.col-lg-1(style="margin:5px;") Phone
      .col-lg-10
        input.form-control(type='text' style="margin:5px;")
    .col-lg-5
    a.btn.btn-primary.col-lg-1(href="#" style="margin:10px;") Save
    a.btn.btn-danger.col-lg-1(href="#"  style="margin:10px;") Delete
